.contacts {

}
.container {
}

.contacts__title {
    margin: 90px 0;
    text-align: center;
}

.title {
}

.contacts__subtitle {
    padding: 40px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #070707;
}

.contacts__btn {
    margin-bottom: 80px;
}

.btn {
    display: inline-block;
    text-align: center;
    padding: 7px 22px;
    background-color: #070707;
    border-radius: 30px;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    transition:  background-color .2s ease-in, top .2s ease-in, left .2s ease-in, box-shadow .2s ease-in;
        &:active {
            position: relative;
            top: 1px;
            left: 1px;
            background-color: #3d3a3a;
        }
        &:hover {
            box-shadow: 0 0 10px rgba(71, 63, 63, 0.5);
        }


}

.contacts__socials {
    display: flex;
    justify-content: center;
    column-gap: 60px;
}

.contacts__footer {
    padding-top: 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #828282;
}