@media screen and (max-width:1230px) {

    .nav__list {
        display: none;
    }
    
    .nav__btn {
        display: block;
    }

    .nav.open .nav__list {
        display: flex;
        flex-direction: column;
        row-gap: 50px;
        position: fixed; // По своему действию это значение близко к absolute, но в отличие от него привязывается к указанной свойствами left, top, right и bottom точке на экране и не меняет своего положения при прокрутке веб-страницы.
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        padding: 46px 30px;
    }

    .nav__link {
        font-weight: 600;
        font-size: 34px;
        line-height: 51px;
        color: #828282;
    }
    .nav__link.active{
        color: #090909;
    }

    .nav__btn {
      position: fixed;
      top: 46px;
      right: 30px;
      z-index: 9;
      background-color: transparent;
    }
}